* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
  }
  
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-family: Comfortaa;
  background-color: grey;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

p {
  font-family: Comfortaa;
  font-size: 30px;
  color: #ffffff;
}

pre {
    font-family: Comfortaa;
    font-size: 30px;
    color: #ffffff;
  }

body {
  /*background-color: #36393F; *//*#19232D */
  color: white;
  text-align: center;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 25vw); /* 1 row */
    grid-gap: 15px;
}

.gallery-text {
  margin: auto; /* required to make sure that the caption aligns with the image*/
  width: 70%;
  color: #bfbfbf;
  font-size: 30px;
  /*background-color: #ffffff;*/
  text-align: center;
  font-family: Comfortaa;
}

.front-image {
  border-radius: 10%;
}

.gallery-image {
  width:  70%;
}

.styled-link {
  color: #ffffff;
  text-decoration: none;
}

.no-link-underline {
  text-decoration: none;
} 

.fade-in {
  animation: fadeIn 2s;
}

.move-up-on-hover figure:hover {
  transition: transform 1.2s;
  transform: translate(0px, -20px);
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

p {
  font-family: Comfortaa;
  font-size: 30px;
  color: #ffffff;
}

.faq {
  --padding: 16px;
  width: 80%;
  margin: auto;
  background-color: #42454d;
}


details {
  font-family: Comfortaa;
  font-size: 15px;
  color: #ffffff;
  padding: 0 var(--padding);
  box-shadow: inset 0 0 0 4px;
  border-radius: 4px;
}

.detail-text {
  font-size: 20px;
  text-align: left;
}

summary {
  font-family: Comfortaa;
  font-size: 15px;
  color: #ffffff;
  outline: 1px solid #33264a;
}

details[open] > summary {
  box-shadow: 0 4px;
}
/* Adds an icon when the <details> is closed... */
details > summary::after {
  content: "+";
}
/* ...and switches it when <details> is open */
details[open] > summary::after {
  content: "-";
}
/* Removes the ugly default arrow on Chrome */
details > summary::-webkit-details-marker {
  display: none;
}

details[open] {
  padding-bottom: var(--padding);
}

details > summary {
  display: flex;
  padding: var(--padding);
  margin: 0 calc(var(--padding) * -1);
  border-radius: 4px;
  font-size: 24px;
  cursor: pointer;
  justify-content: space-between;
  list-style: none; /* Hides the default arrow */
}
details[open] > summary {
  box-shadow: 0 4px;
}