@media screen and (max-width: 600px) {
    *{
        font-size: 4vw;
    }
    .socialicon {
        max-height: 3vw;
        break-after: always;

    }
    .indexheadline {
        font-size: 13vw;
        max-width: 98vw;
        width: 100vw;
    }
    .indexlowertext {
        font-size: 4vw;
        max-width: 96vw;
        width: 100vw;
    }
    .socialbox {
        padding-top: 0.5vh;
        width: 90%;
        border-radius: 2vw;
        max-width: 16.5vw;
    }
    .socialtext:before {
        content: "\A";
        white-space: pre-line;
    }
    .socialtext {
        font-size: 2.5vw;
    }
    .socialboxwrapper {
        padding-bottom: 1vh;
    }
    .bottomwaves {
        max-height: 50vh;
    }
    #svgwaves {
        width: 140vw;
        left: 0;
        bottom: 0;
    }
    .pageheadline {
        font-size: 8vw;
    }
    .pagetext {
        font-size: 4vw;
    }
    .righttextwrapper {
        padding-top: 18vh;
    }
    .lefticonimage {
        margin-top: 10vh;
    }
  }