#particles-js{
  width: 100vw;
  height: 100vh;
  position: relative; /*CHANGED FROM FIXED*/
  top: 0;
  left: 0;
}

#rightclickmenu {
  position: fixed;
  background-color: #1e1f21;
  border: 0.1vw solid #adadad;
  border-radius: 0.2vw;
  top: 0;
  padding-top: 0.2vw;
  z-index: 5;
}

.menutext {
  color: #ffffff;
  font-size: 1vw;
  padding: 0.3vw;
  padding-left: 0.6vw;
  padding-right: 0.6vw;
  text-align: left;
  font-family: Comfortaa;
  margin: 0;
}

body {
  position: relative;
  top: 0;
  left: 0;
  margin: none;
  padding: none;
  background-color: #000; /* so that it doesn't look horribly white when loading */
}


h1 {
  font-family: Comfortaa;
  font-size: 30px;
  color: #ffffff;
}

h2 {
  font-family: Comfortaa;
  font-size: 25px;
  color: #ffffff;
}

pre {
  font-family: Comfortaa;
  font-size: 20px;
  color: #ffffff;
  text-align: left; 
  padding-left: 10vw; 
  width: 80vw; 
  white-space: pre-wrap;
}

p {
  font-family: Comfortaa;
  font-size: 20px;
  color: #ffffff;
}

li {
  font-family: Comfortaa;
  font-size: 20px;
  color: #ffffff;
}

/* Custom Scrollbar
 width */
::-webkit-scrollbar {
  width: 0.5vw;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 0.2vw;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888; 
}

.homepage {
  /*background-color: #36393F;
  background: rgb(50,1,93); 
  background: linear-gradient(90deg, rgba(50,1,93,1) 0%, rgba(9,9,121,1) 35%, rgba(2,191,230,1) 100%);*/
  background: rgb(99,9,121);
  /*background: linear-gradient(90deg, rgba(99,9,121,1) 3%, rgba(50,1,93,1) 38%, rgba(9,9,121,1) 98%);*/
  background-size: cover;
  color: white;
  text-align: center;
  overflow-x: hidden;
  top: 0;
  left: 0;
}

#homepage {
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  padding: none;
  margin: none;
  border: none;
}

body {
  text-align: center;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0;
}

.fullpage {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding: none;
  margin: none;
  position: relative;
  background: rgb(205,165,219);
  background: linear-gradient(90deg, rgba(205,165,219,1) 18%, rgba(102,109,156,1) 100%);
}

.pagelogo {
  border-radius: 3vw;
}

.hidealloverflow {
  overflow: hidden;
}

html {
  margin: none;
  padding: none;
  scroll-behavior: smooth;
}

.colouredimgbg {
  background-image: url('images/codebg_right_zoom_part_t.png'), linear-gradient(90deg, rgba(99,9,121,1) 3%, rgba(50,1,93,1) 38%, rgba(9,9,121,1) 98%);
}

.colouredbg {
  background-image: linear-gradient(90deg, rgba(99,9,121,1) 3%, rgba(50,1,93,1) 38%, rgba(9,9,121,1) 98%);
}

.basicbg {
  background-color: #2c2c2e;
}

.indexbg {
  background-image: url('images/codebg2.png');
  background-size: cover;
}

.nobold {
  font-weight: normal;
}

.centercontainer {
  position: absolute;
  left: 50%; /* relative to nearest positioned ancestor or body element */
  top: 50%; /*  relative to nearest positioned ancestor or body element */
  transform: translate(-50%, -50%); /* relative to element's height & width */
}

.indexheadline {
  font-family: Comfortaa;
  font-size: 6vw;
  color: #ffffff;
  margin-bottom: 0px;
}

.pageheadline {
  font-family: Comfortaa;
  font-size: 5vw;
  color: #ffffffa4;
  margin-bottom: 0px;
  text-align: left;
}

.pagetext {
  text-align: left;
  color: #ffffff8e;
  font-size: 1.3vw;
}

.centeredwithin {
  margin: 0 auto;
  width: 100%;
  height: 30vh;
  display: flex;
  align-items: center;
  flex-flow: wrap;
}

.readmoretext {
  color: #ffffff;
}

.readmorebox {
  border: none;
  font-family: Comfortaa;
  font-size: 1.3vw;
  color: #ffffff;
  display: inline-block;
}

.centeredwithin hr {
  width: 100%;
  height: 1px;
  color: transparent;
  visibility: hidden;
}

.righttextwrapper {
  position: absolute;
  width: 60%;
  max-width: 60vw;
  right: 0;
  padding-top: 25vh;
  padding-right: 1vw;
  z-index: 2;
}

.bottomwaves {
  bottom: 0px;
  height: 30vh;
  position: absolute;
  width: 100vw;
  justify-content: baseline;
  z-index: 1;
}

.topwaves {
  position: absolute;
  top: 0px;
  width: 100vw;
  z-index: 1;
}

.bottomwavessvg {
  width: 100%;
  height: 20vh;
  bottom: 0;
  left: 0;
  position: absolute;

}

.topwavessvg {
  width: 100%;
  height: 20vh;
  top: 0px;
  left: 0px;
  position: absolute;
}

.lefticonimage {
  width: 60%;
  position: absolute;
  left: 5vw;
  top: 24vh;
  z-index: 2;
}

.lefticonwrapper {
  position: absolute;
  width: 40%;
  max-width: 40vw;

}


.indexlowertext {
  font-family: Comfortaa;
  font-size: 1.5vw;
  color: #ffffff;
}

.footer {
  position: absolute; /*CHANGED FROM FIXED*/
  left: 0;
  bottom: 0px;
  width: 100%;
  text-align: center;

}

.socialbox {
  position: sticky;
  bottom: 0;
  /*border: 1px solid #ffffff;*/
  background-color: #202ef5;
  opacity: 0.75;
  font-family: Comfortaa;
  font-size: 1.2vw;
  color: #ffffff;
  display: inline-block;
  padding: 0.5vw;
  margin-bottom: 0px;
  border-radius: 0.9vw;
  margin: 0px 0.05vw 0px 0.05vw;
}

.socialicon {
  max-height: 1vw;
}

.indexnav {
  padding-top: 0.5vw;
}

.navbox {
  border: 1px solid #6e5cf7;
  font-family: Comfortaa;
  font-size: 2vw;
  color: #ffffff;
  display: inline-block;
  padding: 0.5vw;
  margin-bottom: 0px;
  border-radius: 0.2vw;
  margin: 0px 0.05vw 0px 0.05vw;
}

.navtext {
  color: #6e5cf7;
}

.navicon {
  max-height: 2vw;
}


/*
.bgimgcontent {
  position: static;
}

.bgimgcontent:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  min-width: 100vw;
  min-height: 100vh;
  opacity: 0.2;
  background-image: url('images/codebg_right_zoom.PNG');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  background-clip: text;
  color: transparent;
}
*/

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 25vw); /* 1 row */
    grid-gap: 15px;
}

.gallery-text {
  margin: auto; /* required to make sure that the caption aligns with the image*/
  color: #bfbfbf;
  font-size: 30px;
  /*background-color: #ffffff;*/
  text-align: center;
  font-family: Comfortaa;
}

.front-image {
  border-radius: 10%;
}

.gallery-image {
  width:  70%;
}

.styled-link {
  color: #ffffff;
  text-decoration: none;
}

.no-link-underline {
  text-decoration: none;
} 

.fade-in {
  animation: fadeIn 2s;
}

.move-up-on-hover:hover {
  transition: transform 1.2s;
  transform: translate(0px, -0.2vw);
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* The Modal (background) */
.creditsMenu {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.creditsMenuContents {
  background-color: #262626;
  opacity: 0.8;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.closeCredits {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeCredits:hover,
.closeCredits:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}


table, th, td {
  font-family: Comfortaa;
  border-collapse: collapse;
  margin:auto; 
  max-width: 90vw;
  white-space: pre-line;
  overflow: hidden;
}
table {
  border-radius: 10px;
}
th, td {
  padding: 5px;
  width: 33vw;
  text-align: left;
}
td {
  max-width: 80vw;
}
th {
  text-align: left;
  padding-bottom: 9px;
}

.bottomwavesindex { /* no idea where this came from*/
  position: absolute;
  display: block;
  bottom: 0px;
  width: 100vw;
  max-height: 27vh;
  color: transparent;
}

#indexsvgwaves {
  bottom: 0px;
  width: 100vw;
  height: 25vh;
}

.socialboxwrapper {
  width: 100%;
  text-align: center;
  max-width: 100%;
  margin: 0;
  padding-bottom: 0.3vh;
}

.socials {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.backbtnwrapper {
  position: fixed;
  top: 2vh;
  left: 3vw;
  z-index: 1;
}

.backbtn {
  font-family: Comfortaa;
  font-size: 1vw;
  background-color: #333333;
  color: #026ccf;
  border-radius: 0.4vw;
  border: 0.1vw solid #026ccf;
}